################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQConsumer/obj
/RabbitMQConsumer/bin/Debug/netcoreapp3.1
/RabbitMQConsumer/.vs/RabbitMQConsumer/v16
/RabbitMQPublisher/obj
/RabbitMQPublisher/bin/Debug/netcoreapp3.1
/RabbitMQPublisher/.vs/RabbitMQPublisher/v16
/RedisPublisher/obj
/RedisPublisher/bin/Debug/netcoreapp3.1
/RedisPublisher/.vs/RedisPublisher
