################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQ/RabbitMQConsumer/obj
/RabbitMQ/RabbitMQConsumer/bin/Debug/netcoreapp3.1
/RabbitMQ/RabbitMQConsumer/.vs/RabbitMQConsumer/v16
/RabbitMQ/RabbitMQPublisher/obj
/RabbitMQ/RabbitMQPublisher/bin/Debug/netcoreapp3.1
/RabbitMQ/RabbitMQPublisher/.vs/RabbitMQPublisher/v16
/Redis/RedisPublisher/obj
/Redis/RedisPublisher/bin/Debug/netcoreapp3.1
/Redis/RedisPublisher/.vs/RedisPublisher
/TemplateMethodPattern/obj
/TemplateMethodPattern/bin/Debug/net5.0
/TemplateMethodPattern/.vs/TemplateMethodPattern
/.vs
/Redis/RedisSubscriber/obj
/Redis/RedisSubscriber/bin/Debug/netcoreapp3.1
/Redis/RedisSubscriber/.vs/RedisSubscriber
